


.myBG {
    background-image: url('../../public/services/images/fintechBakwave.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.floatingImg {
    animation: floatAnim 3s ease-in-out infinite;
}

@keyframes floatAnim {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, 20px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.backOfficeBG {
    background-image: url('../../public/services/images/ARCHITECTUREbg-min.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}