.banner {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  background: linear-gradient(90deg, rgba(82, 223, 160, 1) 0%, rgba(98, 219, 233, 1) 0%, rgba(63, 94, 251, 1) 0%, rgba(9, 28, 96, 1) 45%);
  height: 200px !important;
  /* Adjust height according to your need */
  padding: 20px !important;
  margin-bottom: 35px !important;
  /* border-radius: 10px; */
}

.heading {
  font-size: 2rem !important;
  font-weight: bold !important;
  color: white;
  text-align: center !important;
  margin-bottom: 20px !important;
}

.button {
  background-color: white;
  color: #0f3443;
  border: none;
  padding: 10px 30px !important;
  border-radius: 50px !important;
  font-size: 1.20rem !important;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.button:hover {
  transform: scale(1.05);
}

/* Media Queries for mobile responsiveness */
@media (max-width: 768px) {
  .banner {
    height: auto !important;
    /* Let height adjust based on content */
    padding: 20px !important;
    text-align: center;
    /* Ensure the text remains centered */
  }

  .heading {
    font-size: 1.5rem !important;
    /* Reduce font size for smaller screens */
    margin-bottom: 15px !important;
  }

  .button {
    padding: 8px 25px !important;
    /* Adjust padding for mobile */
    font-size: 1rem !important;
  }
}

@media (max-width: 480px) {
  .banner {
    padding: 15px;
    text-align: center;
    height: auto;
  }

  .heading {
    font-size: 1.2rem !important;
    /* Further reduce the font size for very small screens */
    margin-bottom: 10px !important;
  }

  .button {
    padding: 8px 20px;
    /* Adjust button padding further for very small screens */
    font-size: 0.9rem !important;
  }
}