.body {
  color: #111;
  font-family: 'AvenirNext' !important;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: normal;
  font-weight: 500;
}

.privacypolicyDetails_outer_container {
  margin: 0px;
}

.privacypolicyDetails_inner_container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.privacypolicyDetails_left_container {
  width: 100%;
}

.containerView {
  margin: 0px 130px 30px 130px !important;
  display: block;
  justify-content: space-between;
  align-items: flex-start;
  text-align: justify;
}

.sectionheadTitle {
  font-size: 55px;
  font-weight: 600;
  line-height: 1.24em;
  margin: 50px 0 30px !important;
  text-align: center;
  letter-spacing: 4px;
}

.sectionTitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.24em;
  margin: 0 0 15px !important;
}

.sectionContent {
  color: #111;
  font-family: 'AvenirNext', 'Helvetica Neue', 'Arial', sans-serif !important;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 500;
}

.listItem {
  color: #111;
  font-family: 'AvenirNext', 'Helvetica Neue', 'Arial', sans-serif !important;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 500;
  padding: 0px;
  list-style: none;
}

.link {
  color: blue;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .containerView {
    margin: 45px 25px 0px 25px !important;
    padding: 0 16px;
    box-sizing: border-box;
    width: auto;
    justify-content: space-between;
    align-items: flex-start;
  }

  .sectionheadTitle {
    font-size: 1.75rem;
    margin-top: 0px !important;
    letter-spacing: 2px;
  }

  .sectionTitle {
    font-size: 1.20rem;
    margin-bottom: 12px;
  }

  .sectionContent {
    font-size: 0.95rem;
    font-weight: 500;
  }

  .listItem {
    font-size: 0.95rem;
    list-style: none;
    font-weight: 500;
  }
}